<p id="notice"><%= notice %></p>

<h1>Shortened Urls</h1>

<table>
  <thead>
    <tr>
      <th>Long url</th>
      <th>Short url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shortened_urls.each do |shortened_url| %>
      <tr>
        <td><%= shortened_url.long_url %></td>
        <td><%= shortened_url.short_url %></td>
        <td><button class="btn btn-outline-primary btn-sm" id="copy-action">COPY</button></td>
        <td><%= link_to 'Destroy', shortened_url, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shortened Url', new_shortened_url_path %>
